@model BusinessObjects.DTOs.InventoryCreateUpdateDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Edit Product</h1>
@if (@ViewData["Message"] != null)
{
    <div class="alert alert-info">
        @ViewData["Message"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            
           
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.ProductId">Product:</label><br />
                    <select asp-for="@Model.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                </div>
            </div>
             <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.ColorId">Color:</label><br />
                    <select asp-for="@Model.ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="@Model.SizeId">Size:</label><br />
                    <select asp-for="@Model.SizeId" class="form-control" asp-items="ViewBag.SizeId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
